<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='Cliquemark'
        UpgradeCode='E0AA3744-7019-42B0-89BA-E59780ECC4B6'
        Manufacturer='Boris van Boxtel borisvanboxtel@protonmail.com'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Application to watermark multiple images at the same time.'
            Manufacturer='Boris van Boxtel borisvanboxtel@protonmail.com'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Cliquemark Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>

        <Directory Id="DesktopFolder" Name="Desktop" />

        <Directory Id="ProgramMenuFolder">
          <Directory Id="ApplicationProgramsFolder" Name="Cliquemark"/>
        </Directory>

            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='Cliquemark'>

                <Component Id="GSettingsEnvVar" Guid="e6f2bae7-6e45-4b96-85d6-12164bb5a814">
                  <Environment
                    Id="GSETTINGS_SCHEMA_DIR"
                    Name="GSETTINGS_SCHEMA_DIR"
                    Value="[APPLICATIONFOLDER]share\glib-2.0\schemas"
                    Permanent="no"
                    Part="last"
                    Action="set"
                    System="yes" />
                  <RegistryValue Root="HKLM" Key="SOFTWARE\Cliquemark" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
                </Component>

                  <Directory Id="ShareFolder" Name="share">
                    <Directory Id="IconsDir" Name="icons">
                      <Directory Id="HicolorDir" Name="hicolor">
                        <Directory Id="SizeDir256" Name="256x256">
                          <Directory Id="AppsDir" Name="apps">
                            <Component Id="IconComponent" Guid="*">
                              <File Id="MyAppIconFile" Name="my-app-icon.png" Source="assets\my-app-icon.png" />
                            </Component>
                          </Directory>
                        </Directory>
                      </Directory>
                    </Directory>

                    <Directory Id="GlibFolder" Name="glib-2.0">
                      <Directory Id="SchemasFolder" Name="schemas">
                        <Component Id="GSettingsSchemaComponent" Guid="*">
                        <File
                            Id="GSettingsSchemaFile"
                            Name="gschemas.compiled"
                            DiskId="1"
                            Source="schema_files/gschemas.compiled"
                            KeyPath="yes"/>
                    </Component>
                      </Directory>
                  </Directory>
                </Directory>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='482AE0B0-2A67-4C42-9909-89EB16B3EA95' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='Cliquemark.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\Cliquemark.exe'
                                KeyPath='yes'
                                />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="4780fba5-fa9b-4e72-afad-770e71c8e60e">
              <Shortcut Id="startMenuShortcut"
                        Name="Cliquemark"
                        Description="Watermark multiple images at once"
                        Target="[APPLICATIONFOLDER]bin\Cliquemark.exe"
                        WorkingDirectory="APPLICATIONFOLDER"
                        Icon="ProductICO"
                        IconIndex="0"
                        />
              <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall"/>
              <RegistryValue Root="HKCU"
                            Key="Software\Cliquemark"
                            Name="installed"
                            Type="integer"
                            Value="1"
                            KeyPath="yes"/>
            </Component>
          </DirectoryRef>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='binary0'/>
            <ComponentGroupRef Id="LibsGroup"/>
            <ComponentRef Id='GSettingsSchemaComponent'/>
            <ComponentRef Id='GSettingsEnvVar'/>
            <ComponentRef Id="ApplicationShortcut"/>
            <ComponentRef Id="IconComponent"/>
            <ComponentRef Id="cmpDesktopShortcut" />

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of the [ProductName] executable to the PATH system environment variable. This allows the [ProductName] executable to be called from any location.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <Icon Id='ProductICO' SourceFile='assets\logo.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO' />

        <Component Id="cmpDesktopShortcut" Guid="5ac855d1-83d0-4bb7-ad14-4b5b70bdaaf6" Directory="DesktopFolder" >
          <Shortcut Id="DesktopShortcut" 
                    Name="Cliquemark" 
                    Description="Opens Cliquemark." 
                    Directory="DesktopFolder" 
                    Target="[APPLICATIONFOLDER]bin\Cliquemark.exe"
                    Icon="ProductICO"
                    WorkingDirectory="APPLICATIONFOLDER"/>
          <RegistryValue Root="HKCU" Key="Software\Cliquemark" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        

        <UI Id="UserInterface">
        <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
        <Property Id="WixUI_Mode" Value="Custom" />

        <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
        <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
        <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

        <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

        <DialogRef Id="ProgressDlg" />
        <DialogRef Id="ErrorDlg" />
        <DialogRef Id="FilesInUse" />
        <DialogRef Id="FatalError" />
        <DialogRef Id="UserExit" />

        <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
        <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

        </UI>
        <UIRef Id="WixUI_Common" />

    </Product>

</Wix>
